
<div class="container">
<div style="display:flex;justify-content: center;">
    <!-- //search input field-->
    <mat-form-field >
        <input type="tel" matInput placeholder="Search" (change)="seacrList($event)">
        </mat-form-field>
</div>
<!-- // display multiple cards -->
<div style="display:flex;justify-content: center;" *ngFor="let character of item">
    <!-- <div *ngFor="let character of characters"></div> -->
            <mat-card class="mt-2" style="margin: 1rem;" >
                <mat-card-header>
                    <mat-card-title>name-{{ character.show.name}}</mat-card-title>
                   
                   
                </mat-card-header>
                <img mat-card-image src="{{character.show.image.medium}}" alt="Photo of a Shiba Inu" width="20%">
                <mat-card-subtitle>{{character.show.summary}}</mat-card-subtitle>
                <mat-card-content>type - {{character.show.type}}</mat-card-content>
                <mat-card-subtitle>language,{{character.show.language}}</mat-card-subtitle>
                <mat-card-subtitle>summary {{character.show.summary}}</mat-card-subtitle>
                <mat-card-subtitle>genres {{character.show.genres}}</mat-card-subtitle>
                <mat-card-subtitle>statuss {{character.show.status}}</mat-card-subtitle>
                <mat-card-subtitle>schedule {{character.show.schedule}}</mat-card-subtitle>
            </mat-card>
           
           
           
        </div>
        
  
    </div>


