mat-card {
    
    max-width: 200px;
    height: 200px;
   margin-top: 10%;
   
}
.content{
    padding: 16px;
}
.content> mat-card{
    width: 200px;
}
/* .container{
    border-radius: 5px;
    border: 2px solid black;
    width: 80%;
    height: 80%;
} */
mat-form-field{
    width:40%;
    margin-top: 2%;
}